@font-face {
    font-family: "CustomFont";
    src: url("./font/cbf.ttf");
}


/* FOR ALL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FOR GENERAL*/

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    height: 2rem;
    width: 10rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px gray;
    background-color: burlywood;
}

button#submit:hover {
    background-color: rgb(158, 116, 61);
}
button#reset:hover {
    background-color: rgb(158, 116, 61);
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;

}


/* FIELDS */
fieldset {
    margin: 20px;
    border: none;
}
fieldset > div {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border: none;
    font-size: 12px;
}

field:focus {
    text-shadow: black;
}

 /*FOR CLASSES */

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background-color: rgb(235, 233, 233);
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    height: 100%;
}

.rightTop,.rightBottom {
    flex: 1;
    padding: 30px;
}

.rightTop {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 233, 233);
    gap: 10px;
}

.rightMid {
    box-shadow: 1px 10px 5px grey;
    background-color: white;
    height: 250px;
    padding: 20px;
    flex-shrink: 0;
    margin: 10px;

}

.rightTop > #p1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.rightTop > #p3{
    margin-top: 30px;
}


.rightBottom {
    background-color: rgb(235, 233, 233);
}

.already {
    font-size: 10px;

}

.already > a {
    text-decoration: none;
}

/*LEFT SIDE*/
.left {
    width: 600px; 
    overflow: hidden;
    object-fit: contain;
    position: relative;
    height: 100%;
    min-width: 400px;

}

.textOnpic {
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    position: absolute;
    height: 100px;
    width: 100%;
    max-width: 600px;
    top:30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: "CustomFont";
}

.textOnpic > img {
    height: 100px;
    width: auto;
    opacity: 1;
}

.textOnpic > p {
    opacity: 1;
}


.picLegal {
    position: relative;
    top: 97%;
    font-size: 10px;
    text-align: center;
}



.left {
    background-image: url("./images/leftpic.jpg");
    background-size: cover;
    
}

/*FOR LEFT IDS*/

#leftLegal {

    text-decoration: none;
}

#leftLegal:hover {
    text-shadow: rgb(251, 255, 0) 1px 0 10px; /*THIS IS FOR THE ''GLOW''*/
}

#leftLegal:visited {
    color: black;
}

.footer {
    height: 50px;
    padding-top: 5px;
    background-color: rgba(114, 158, 156, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 10px;
}

#gitlink:hover {
    transform: scale(1.2);
    
}